section.about#about
    .container
        .row
            .about__item
                +title(title.about.sub,title.about.big)
                a(href="#")= about_link_content
                    i.fa.fa-arrow-right
            .about__item
                .row
                    each val in about_img
                        .about__img
                            img(src= val.src, alt= val.alt)