section.banner
    .container
        .row
            .banner__content
                p Stylish designs
                h5 Interiors that reflect your style.
                a(href="#") View Details 
                    i.fa.fa-long-arrow-alt-right