section.choose
    .container
        .choose__title
            h6.sub-title WHY CHOOSE US
            h3.big-title Why Meet Us Online
        .row
            +choose__item("fa fa-arrows-alt","Comfort of your home","Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.")
            +choose__item("fa fa-code","Expert designers","Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.")
            +choose__item("fa fa-crosshairs","Live 3D designs","Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.")
            +choose__item("fab fa-ravelry","Instant pricing","Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.")
            
