mixin comment__item(content,srcImg,alt,name)
    .comment__item
        blockquote.comment__content
            i.fa.fa-quote-left
            p= content
        .comment__user
            img(src= srcImg, alt= alt)
            h4= name
section.comment
    .container
        +title(title.comment.sub,title.comment.big)

        input(type="radio", id="comment_1", name="comment_radio")
        input(type="radio", id="comment_2", name="comment_radio")
        input(type="radio", id="comment_3", name="comment_radio")
        input(type="radio", id="comment_4", name="comment_radio")
        .comment__wraper
            each item in comment_item
                +comment__item(item.content, item.srcImg, item.alt, item.name)
        .comment__dots
            label(for="comment_1")
            label(for="comment_2")
            label(for="comment_3")
            label(for="comment_4")