footer.footer
    .footer__top
        .container
            .row
                .footer__about
                    h6 About Company
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium voluptate rem ullam dolore nisi voluptatibus esse quasi.Integer sit amet mattis quam.
                    .footer__icon
                        each val in footer__icon
                            a(href= val.link)
                                i(class= val.icon)
                .footer__link
                    h6 Useful Links
                    ul
                        each val in footer__link
                            li
                                a(href= val.link)= val.title
                .footer__services
                    h6 Services
                    ul
                        each val in footer__services
                            li
                                a(href= val.link)= val.title
                .footer__contact
                    h6 Contact Us
                    each val in footer__contact
                        +footer_contact_item(val.icon,val.content)
    
    .footer__bottom
        .container
            p © 2020 Livefloor. All rights reserved. Design by 
                a(href="https://www.facebook.com/profile.php?id=100007745858673") Hien Nguyen
