section.offer#service
    .container
        .row
            .offer__item
                img(src="./assets/images/g3.jpg", alt="")
            .offer__item
                +title(title.offer.sub_title,title.offer.big_title, title.offer.desc)
                ul
                    each val in offer_list
                        li
                            i.fa.fa-check
                            = val
