extends ../Base/_layout.pug

block content

    //- LAYOUT
    // HEADER
    include ../Layouts/_header.pug
    // BANNER
    include ../Layouts/_banner.pug
    // NUMBER
    include ../Layouts/_number.pug
    // ABOUT US
    include ../Layouts/_about.pug
    // PROCESS
    include ../Layouts/_process.pug
    // CHOOSE
    include ../Layouts/_choose.pug
    // OFFER
    include ../Layouts/_offer.pug
    // CONTACT
    include ../Layouts/_contact.pug
    // COMMENT
    include ../Layouts/_comment.pug
    // FOOTER
    include ../Layouts/_footer.pug
