//- HEADER
-
    var nav_menu = [
        {title: "Home", link: "#"},
        {title: "About", link: "#about"},
        {title: "Services", link: "#service"},
        {title: "Contact", link: "#contact"}
        ]

//- ABOUT
-
    var about__img = [
        {src: "./assets/images/ab.jpg", alt: "about image 1"},
        {src: "./assets/images/ab1.jpg", alt: "about image 2"}
    ]
//- OFFER
- var offer_list = ['Full home interiors','Modular solutions','Catalogue products','Installation']

//- FOOTER
-
    var footer__link = [
        {title:"Home", link: "#"},
        {title:"Services", link: "#service"},
        {title:"Blog posts", link: "#"},
        {title:"Contact us", link: "#contact"}
    ]
-
    var footer__services = [
        {title:"Furniture Chairs", link: "#"},
        {title:"Three Seater Sofas", link: "#"},
        {title:"Dining Tables", link: "#"},
        {title:"Office Chairs", link: "#"},
        {title:"Kitchen Cabinets", link: "#"}
        ]

-
    var footer__contact = [
        {icon: "fa fa-map-marker-alt", content: "Livefloor, #49436 block, #888 Honey rd Newyork"},
        {icon: "fa fa-phone", content: "+(21)-255-999-8888"},
        {icon: "fa fa-envelope-open", content: "Livefloor@mail.com"}
    ]

-
    var footer__icon = [
        {link: "#", icon: "fab fa-facebook-f"},
        {link: "#", icon: "fab fa-twitter"},
        {link: "#", icon: "fab fa-instagram"},
        {link: "#", icon: "fab fa-linkedin-in"}
    ]