//- HEADER
-
    var nav_menu = [
        {title: "Home", link: "#"},
        {title: "About", link: "#about"},
        {title: "Services", link: "#service"},
        {title: "Contact", link: "#contact"}
        ]
//- NUMBER
-
    var number__item = [
        {number:"730", title:"Custom Products"},
        {number:"680", title:"Design Experts"},
        {number:"812", title:"Happy Customers"},
        {number:"990", title:"Awards"}
    ]
//- ABOUT
-
    var about__img = [
        {src: "./assets/images/ab.jpg", alt: "about image 1"},
        {src: "./assets/images/ab1.jpg", alt: "about image 2"}
    ]
//- PROCESS
-
    var process__item = [
        {src: "./assets/images/g1.jpg", title: "1. Show Us Your Space", desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur."},
        {src: "./assets/images/g2.jpg", title: "2. Get Custom Design Plans", desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur."},
        {src: "./assets/images/g3.jpg", title: "3. Shop with Confidence", desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur."}
    ]
//- CHOOSE
-
    var choose__item = [
        {icon: "fa fa-arrows-alt", title: "Comfort of your home", desc: "Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.", link: "#"},
        {icon: "fa fa-code", title: "CExpert designers", desc: "Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.", link: "#"},
        {icon: "fa fa-crosshairs", title: "Live 3D designs", desc: "Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.", link: "#"},
        {icon: "fab fa-ravelry", title: "Instant pricing", desc: "Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.", link: "#"}
    ]
//- OFFER
- var offer_list = ['Full home interiors','Modular solutions','Catalogue products','Installation']

//- FOOTER
-
    var footer__link = [
        {title:"Home", link: "#"},
        {title:"Services", link: "#service"},
        {title:"Blog posts", link: "#"},
        {title:"Contact us", link: "#contact"}
    ]
-
    var footer__services = [
        {title:"Furniture Chairs", link: "#"},
        {title:"Three Seater Sofas", link: "#"},
        {title:"Dining Tables", link: "#"},
        {title:"Office Chairs", link: "#"},
        {title:"Kitchen Cabinets", link: "#"}
        ]

-
    var footer__contact = [
        {icon: "fa fa-map-marker-alt", content: "Livefloor, #49436 block, #888 Honey rd Newyork"},
        {icon: "fa fa-phone", content: "+(21)-255-999-8888"},
        {icon: "fa fa-envelope-open", content: "Livefloor@mail.com"}
    ]

-
    var footer__icon = [
        {link: "#", icon: "fab fa-facebook-f"},
        {link: "#", icon: "fab fa-twitter"},
        {link: "#", icon: "fab fa-instagram"},
        {link: "#", icon: "fab fa-linkedin-in"}
    ]