section.about
    .container
        .row
            .about__item
                h6.sub-title ABOUT US
                h3.big-title One-Stop Shop For Everything Interiors
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.
                a(href="#") Read More
                    i.fa.fa-arrow-right
            .about__item
                .row
                    .about__img
                        img(src="../images/ab.jpg", alt="")
                    .about__img
                        img(src="../images/ab1.jpg", alt="")