section.comment
    .container
        .comment__wraper
            h6.sub-title HERE’S WHAT THEY HAVE TO SAY
            h3.big-title Our Clients Do The Talking
            blockquote.comment__content
                i.fa.fa-quote-left
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium voluptate rem ullam dolore nisi voluptatibus esse quasi. Integer sit amet .Lorem ipsum dolor sit amet adipisicing elit. Laborum dolor facere ipsum adipisicingelit.
            .comment__user
                img(src="../images/c1.jpg", alt="")
                h4 Rohit Paul
            .comment__dots
                .row
                    .dots__item.active
                    .dots__item
                    .dots__item
                    .dots__item