footer.footer
    .footer__top
        .container
            .row
                .footer__about
                    h6 About Company
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium voluptate rem ullam dolore nisi voluptatibus esse quasi.Integer sit amet mattis quam.
                    .footer__icon
                        i.fab.fa-facebook-f
                        i.fab.fa-twitter
                        i.fab.fa-instagram
                        i.fab.fa-linkedin-in
                .footer__link
                    h6 Useful Links
                    ul
                        each val in footer__link
                            li
                                a(href="#")= val
                .footer__services
                    h6 Services
                    ul
                        each val in footer__services
                            li
                                a(href="#")= val
                .footer__contact
                    h6 Contact Us
                    +footer_contact_item("fa fa-map-marker-alt"," Livefloor, #49436 block, #888 Honey rd Newyork")
                    +footer_contact_item("fa fa-phone"," +(21)-255-999-8888")
                    +footer_contact_item("fa fa-envelope-open","Livefloor@mail.com")
    .footer__bottom
        .container
            p © 2020 Livefloor. All rights reserved. Design by 
                a(href="https://www.facebook.com/profile.php?id=100007745858673") Hien Nguyen
