section.number
    .container
        .row
            +number__item("730","Custom Products")
            +number__item("680","Design Experts")
            +number__item("812","Happy Customers")
            +number__item("990","Awards")
            