section.process
    .container
        .process__title
            h6.sub-title Process
            h3.big-title How It Works
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .process__content.row
            +process__item("../images/g1.jpg", "1. Show Us Your Space", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.")
            +process__item("../images/g2.jpg", "2.Get Custom Design Plans", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.")
            +process__item("../images/g3.jpg", "3. Shop with Confidence", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.")