- var nav_menu = ["Home", "About", "Services", "Contact"]
- var offer_list = ['Full home interiors','Modular solutions','Catalogue products','Installation']
- var footer__link = ['Home','About','Services','Blog posts','Contact us']
- var footer__services = ['Furniture Chairs','Three Seater Sofas','Dining Tables','Office Chairs','Kitchen Cabinets']
