extends ../Layouts/default-layout.pug

block content

    // BANNER
    include ../Partials/banner.pug
    // NUMBER
    include ../Partials/number.pug
    // ABOUT US
    include ../Partials/about.pug
    // PROCESS
    include ../Partials/process.pug
    // CHOOSE
    include ../Partials/choose.pug
    // OFFER
    include ../Partials/offer.pug
    // CONTACT
    include ../Partials/contact.pug
    // COMMENT
    include ../Partials/comment.pug
