.about {
    padding: 9.6rem 0;
    background-color: $bg-light;
    .about__item {
        width: 50%;
        p {
            margin: 3.2rem 0;
        }
        a {
            @include readMore;
        }
        &:first-child {
            padding-right: 4.8rem;
        }
    }
    .about__img{
        width: 50%;
        padding: 0 1.5rem;
        img {
            border-radius: 1rem;
        }
    }
    @include responsive('large') {
        .about__item {
            width: 100%;
        }
        .about__img {
            margin-top: 4.8rem;
            padding: 0;
        }
    }
    @include responsive('medium') {
        padding: 4.8rem 0;
        .about__img {
            width: 100%;
        }
    }

}