.number {
    padding: 9.6rem 0;
    text-align: center;
    .row {
        justify-content: space-around;
    }
    &__item {
        width: (1/4)*100%;
        padding: 0 1.5rem;
        p {
            @include text($secondary-color, 5rem, 6rem, 700);
            margin: 1.5rem 0;
        }
        h4 {
            @include text($font-color, 2rem, 2.5rem, 300);
            opacity: .8;
        }
    }
    @include responsive('small-large') {
        &__item {
            width: (1/2)*100%;
            margin: 15px 0;
        }
    }
    @include responsive('medium') {
        padding: 4.8rem 0;
    }
}