.slider {
    overflow: hidden;
    position: relative;
    &__nav {
        @include centerAbsolute(left);
        bottom: 2rem;
        z-index: 3;
        label {
            display: inline-block;
            @include size(1.2rem);
            background-color: #fff;
            border-radius: 50%;
            margin: .7rem;
            &:hover {
                background-color: $secondary-color;
            }
        }
    }
    input {
        display: none;
    }
    &__content {
        display: flex;
        transition: all .3s;
        @include transform(translateX(0));
    }
    #slider_1:checked ~ .slider__content {
        @include transform(translateX(0));
    }
    #slider_2:checked ~ .slider__content {
        transform: translateX(-100%);
        @include transform(translateX(-100%));
    }
    #slider_3:checked ~ .slider__content {
        @include transform(translateX(-200%));
    }
    &__item {
        background-position: center;
        background-size: cover;
        height: calc(100vh - 40px);
        min-width: 100%;
        position: relative;
        &:nth-child(1){
            background-image: url(../images/banner3.jpg);
        }
        &:nth-child(2) {
            background-image: url(../images/banner1.jpg);
        }
        &:nth-child(3) {
            background-image: url(../images/banner2.jpg);
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: #0c0c0c;
            opacity: .6;
            min-height: 100%;
            z-index: 1;
        }
    }
    &__text {
        width: 60%;
        color: white;
        z-index: 2;
        @include centerAbsolute(top);
        p {
            text-transform: uppercase;
            font-weight: 300;
            line-height: 3rem;
            letter-spacing: 1px;
            margin-top: .6rem;
        }
        h5 {
            @include text(inherit, 8.2rem, 9.2rem, 700);
            text-transform: capitalize;
            margin-bottom: 2rem;
        }
        a {
            @include text(white, 1.7rem, false, 600);
            margin-top: 2rem;
            padding-bottom: 3px;
            text-transform: capitalize;
            border-bottom: 2px solid #fff;
            transition: .3s ease-in-out;
            letter-spacing: 1px;
            &:hover {
                color: $secondary-color;
                border-color: $secondary-color;
            }
        }
    }
    @include responsive("extra-large") {
        height: calc(100vh - 6rem);
        &__content {
            p {
                font-size: 1.5rem;
            }
            h5 {
                font-size: 5.2rem;
                line-height: 6.2rem;
            }
        }
    }
    @include responsive("large") {
        height: calc(100vh - 8rem);
        &__content {
            p {
                font-size: 1.5rem;
            }
            h5 {
                font-size: 5rem;
                line-height: 5.5rem;
            }
        }
    }
    @include responsive("medium") {
        height: calc(100vh - 10rem);
        &__content {
            p {
                font-size: 1.4rem;
            }
            h5 {
                font-size: 4.2rem;
                line-height: 5.2rem;
            }
        }
        &__text {
            width: 70%;
        }
    }
    @include responsive("small") {
        height: calc(100vh - 13rem);
        &__text {
            width: 70%;
        }
    }
}
